
.main{
    width: 100%;
}

.nothing__main-content{
    align-items: center;
    background-color: settings.$primary;
    color: settings.$white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    p{
        text-align: center;
    }
}

